@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/gotham_medium.otf) format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Graphik-Medium.ttf) format('opentype');
}

.header {
    position: absolute;
    width: 1440px;
    height: 67px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.title {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
}

.subtitle {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
}

.tittle {
    position: absolute;
    width: 190px;
    height: 60px;
    left: 34px;
    top: 12px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
}

nav {
    font-family: Gotham;
    font-size: 12px;
    font-weight: 400px;
    line-height: 11.48px;
}

.nav1 {
    position: absolute;
    width: 81px;
    height: 11px;
    left: 491px;
    top: 28px;
}

.nav2 {
    position: absolute;
    width: 52px;
    height: 11px;
    left: 607px;
    top: 28px;
}

.nav3 {
    position: absolute;
    width: 33px;
    height: 11px;
    top: 28px;
    left: 691px;
}

.nav4 {
    position: absolute;
    width: 98px;
    height: 11px;
    top: 28px;
    left: 755px;
}

.nav5 {
    position: absolute;
    width: 57px;
    height: 11px;
    top: 28px;
    left: 889px;
}

.button-language {
    position: absolute;
    width: 32px;
    height: 11px;
    top: 28px;
    left: 1172px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    text-align: right;
    color: #171E25;

}

.zayavka {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    position: absolute;
    width: 173px;
    height: 46px;
    right: 35px;
    top: 9px;
    background: #1A1A27;
    border-radius: 8px;
}

.zayavka-text {
    width: 130px;
    height: 20px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.main {
    font-family: 'Gotham';
}

.main-info__title {
    position: absolute;
    width: 583px;
    height: 157px;
    left: 141px;
    top: 210px;
    font-size: 50px;
    line-height: 41px;
    color: #171E25;
}

.main-info__subtitle {
    position: absolute;
    width: 512px;
    height: 51px;
    left: 142px;
    top: 377px;
    font-size: 18px;
    line-height: 17px;
    color: #676F8A;
}

.main-info__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    position: absolute;
    width: 244px;
    height: 56px;
    right: 1052px;
    top: 502px;
    background: #1A1A27;
    border-radius: 8px;
}

.main-info__phone {
    position: absolute;
    width: 328px;
    height: 17px;
    left: 144px;
    top: 583px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #676F8A;
}

.main__iphone-pic {
    position: absolute;
    width: 509px;
    height: 1029px;
    left: 827px;
    top: 164px;
}

.delivery {
    position: absolute;
    width: 1443px;
    height: 790px;
    left: -3px;
    top: 800px;
    background: #1A1A27;
    border-radius: 20px;
}

.delivery__phone {
    position: absolute;
    width: 339px;
    height: 652px;
    left: 169px;
    top: 75px;
}

.delivery__title {
    position: absolute;
    width: 635px;
    height: 182px;
    left: 720px;
    top: 138px;
    font-size: 40px;
    line-height: 38px;
    color: #FFFFFF;
}

.delivery__subtitle {
    position: absolute;
    width: 564px;
    height: 92px;
    left: 723px;
    top: 349px;
    font-size: 18px;
    line-height: 22px;
    color: #8D96A8;
}

.delivery__icon1 {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 720px;
    top: 490px;
    background: url(/img/delivery/iiko.png);
}

.delivery__icon2 {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 795px;
    top: 490px;
    background: url(/img/delivery/Applepay.png);
}

.delivery__icon3 {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 870px;
    top: 490px;
    background: url(/img/delivery/gpay.png);
}

.delivery__icon4 {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 945px;
    top: 490px;
    background: url(/img/delivery/yandex.png);
}

.delivery__icon50 {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 1020px;
    top: 490px;
    background: #FFFFFF;
    border-radius: 15px;
}

.delivery__icon5 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1030px;
    top: 499px;
    background: url(/img/delivery/blogo.png);
}

.opp__title {
    position: absolute;
    width: 601px;
    height: 44px;
    left: 419px;
    top: 1676px;
    font-size: 40px;
    line-height: 41px;
    text-align: center;
    color: #171E25;
}

.opp__subtitle {
    position: absolute;
    width: 724px;
    height: 50px;
    left: 357px;
    top: 1736px;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #676F8A;
}

.oop__sublist {
    position: absolute;
    width: 352px;
    height: 15px;
    left: 174px;
    top: 1993px;
    font-size: 14px;
    line-height: 130%;
    color: #8D96A8;
}

.opp__column1 {
    position: absolute;
    width: 268px;
    height: 44px;
    left: 144px;
    top: 1938px;
}

.oop__title1 {
    position: absolute;
    width: 268px;
    height: 44px;
    left: 144px;
    top: 1938px;
    font-size: 16px;
    line-height: 41px;
    color: #171E25;
}

.opp__img1 {
    position: absolute;
    left: 30%;
    right: 86.6%;
    top: 30%;
    bottom: 75.07%;
}

.opp__blacksq1 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 144px;
    top: 1848px;
    background: #1A1A27;
    border-radius: 20px;
}

.opp__column2 {
    position: absolute;
    left: 545px;
    top: 1938px;
}

.oop__title2 {}

.opp__img2 {
    position: absolute;
    left: 545px;
    right: 58.9%;
    top: 26%;
    bottom: 75.06%;
}

.opp__blacksq2 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 545px;
    top: 1848px;
    background: #1A1A27;
    border-radius: 20px;
}

.opp__column3 {}

.oop__title3 {}

.opp__img3 {}

.opp__blacksq3 {}

.opp__column4 {}

.oop__title4 {}

.opp__img4 {}

.opp__blacksq4 {}

.opp__column5 {
    position: absolute;
    width: 268px;
    height: 44px;
    left: 545px;
    top: 2198px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 41px;
    color: #171E25;

}

.oop__title5 {}

.opp__img5 {}

.opp__blacksq5 {}

.opp__column6 {}

.oop__title6 {}

.opp__img6 {}

.opp__blacksq6 {}